.shiftable {
    position: relative;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

.left {
    animation-name: shift-left;
}

.right {
    animation-name: shift-right;
}

.up {
    animation-name: shift-up;
}

.down {
    animation-name: shift-down;
}

@keyframes shift-left {
    0% {
        left: 0px;
    }

    33% {
        left: -0.1em
    }

    67% {
        left: -0.8
    }

    100% {
        left: -2em;
    }
}


@keyframes shift-right {
    0% {
        left: 0px;
    }

    33% {
        left: 0.1em
    }

    67% {
        left: 0.8
    }

    100% {
        left: 2em;
    }
}


@keyframes shift-up {
    0% {
        top: 0px;
    }

    33% {
        top: -0.1em
    }

    67% {
        top: -0.8
    }

    100% {
        top: -2em;
    }
}

@keyframes shift-down {
    0% {
        top: 0px;
    }

    33% {
        top: 0.1em
    }

    67% {
        top: 0.8
    }

    100% {
        top: 2em;
    }
}